@{
    ViewBag.Title = "About the app";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>ASP.NET MVC 5.2.3.0 app with a minimal DDD developed over Visual Studio 2017 (aka "the laggy"), with Unity as IoC manager.</p>
