@{
    ViewBag.Title = "Contact me";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<h3>The autor</h3>

<address>
    Fabián M. Rosell<br />    
    <abbr title="Phone">Phone:</abbr>
    +569 9593 8100
</address>

<address>
    <strong>email</strong>   <a href="mailto:fabrosell@gmail.com">fabrosell@gmail.com</a><br />    
</address>